.pepe-runner {
  position: fixed;
  bottom: 0px;
  left: -150px;
  width: 150px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.2s;
}

@keyframes pepeRun {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(calc(100vw + 150px));
    opacity: 0;
  }
}

